body{
    background-color: #1d1e22;
}
.calculator {
    width: 420px;
    height: auto;
    padding: 20px;
    margin: 150px auto;
    background: #1d1e22;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #f8f8f8;
    
}
.calculator:hover{
    box-shadow: 0px 0px 5px 0px #FF9F1C, 0px 0px 10px 2px #FF4040;
    transition-duration: 0.4s;
    border: 0px solid transparent;
    -webkit-transition: box-shadow 0.4s, -webkit-transform 0.4s;
}
.calculator:hover .number{
    color: #FF9F1C;
    transition-duration: 0.4s;
}
.calculator:hover .symble{
    color: #FF4040;
    transition-duration: 0.4s;
}
.calculator:hover #result {
    background: linear-gradient(to right, #FF4040, #FF9F1C); /* Inverse gradient */
    transition-duration: 0.8s;
}

input {
    display: block;
    width: 100%;
    background:transparent;
    border: none;
    margin-bottom: 0px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    line-height: 100px;
    vertical-align: bottom; 
    color: #d4d4dc;
}
    .resultInput{
    height: 80px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.textInput{
    margin-top: 80px;
    height: 40px;
    font-size: 20px;
}
.keypad button {
    width: 80px; /* Equal width and height for a perfect circle */
    height: 80px;
    margin-left: 18px;
    margin-bottom: 20px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%; 
    text-align: center; 
    border: #0000001f 0px solid;
    color: #ffffff;
    /* line-height: 50px;  */
}

.symble:hover {
    box-shadow: 0px 0px 5px 0px #FF9F1C, 0px 0px 10px 2px #FF4040;
    transition-duration: 0.4s;
}
.number:hover {
    box-shadow: 0px 0px 5px 0px #FF4040, 0px 0px 10px 2px #FF9F1C;
    transition-duration: 0.4s;
}

.keypad button:active {
    background: linear-gradient(to right, #FF4040, #FF9F1C); /* Inverse gradient */
    transition-duration: 0.5s;
    border: 0px solid transparent;
}
#clear {

}


